/** CUSTOM PROPERTIES */
:root {
    --my-jumbo-bg: #3672E8;
    --my-graph-c: #3E76D3;
    --my-sidebar: #041E34;
}


.debug {
    border: 1px dashed red;
}



/** Main CSS */


/* Header */

header {
    
    /* todo remove */
    /* height: 100px; */
    border: 1px dashed green;
}

/* sidebar */

.sidebar {
    max-width: 150px;
    height: calc(100vh - 100px);
    border: 1px dashed blue;
    background-image: url(img/sidebar-bg.png);
    background-color: var(--my-sidebar);
}

/** Main content */

/* Content Navbar */
.page-wrapper {
    height: calc(100vh - 100px);
    overflow: auto;
    width: 100%;
    
}


/* Boolean webapp content */
.boolean-content {

}
.col {
    border: 1px dashed blue;
}


/* todo remove */
.row {
    border: 1px dashed red;
}