/** CUSTOM PROPERTIES */
:root {
    --my-mainh-bg: #3672E8;
    --my-graph-c: #3E76D3;
    --my-sidebar: #041E34;
}

.debug {
    border: 1px dashed red;
}

/** Main CSS */
/* Sidebar */
.sidebar {
    background-color: var(--my-sidebar);
    background-image: url(img/sidebar-bg.png);
}

.my-search-bar {
    background-color: #e5e5e5;
    border: none;
    border-radius: 0 5px 5px 0;
    padding-left: 10px;
}

.my-input-group-text {
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 0;
}

.input-group-text i {
    padding: 6px 8px;
}

@media screen and (min-width: 992px) {
    .sidebar {
        flex-basis: 150px;
    }
}

/** Main content */
/* Content Navbar */
.page-wrapper {
    height: calc(100vh - 75px);
    overflow: auto;
    width: 100%;
}

/* Boolean webapp content */
.main-header {
    background-color: var(--my-mainh-bg);
}

.img-tab {
    height: 25px;
}

.my-list-group {
    border-radius: 5px 5px 0 0;
}