/** CUSTOM PROPERTIES */
:root {
    --my-jumbo-bg: #3672E8;
    --my-graph-c: #3E76D3;
}


.debug {
    border: 1px dashed red;
}



/** Main CSS */
header {
    height: 100px;

    /* todo remove */
    border: 1px dashed green;
}
.page-wrapper {
    height: calc(100vh - 100px);
    overflow: auto;
    width: 100%;
    
}
.sidebar {
    width: 70px;
    height: calc(100vh - 100px);
    border: 1px dashed blue;
}
.boolean-content {

}
.col {
    border: 1px dashed blue;
}


/* todo remove */
.row {
    border: 1px dashed red;
}